doctype html
include includes/head.pug

body

// navbar 
nav
  ul
    li 
  a(href='#')

// header 
header
  h1 Discover Events
  h2 Stay active Together
main
  section
    form.search
      input(type='text' placeholder='Search for events...')
    button.filter-button <ion-icon name="options"></ion-icon>
  
  // groups 
  section
    h2.results #{results} available groups!
    ul 
      // Bron van 'each in': https://pugjs.org/language/iteration.html
      each group in groups 
        li
          div
            h2 #{group.name}
            p <ion-icon name="walk"></ion-icon>  Activity: #{group.activity} 
            p <ion-icon name="location"></ion-icon> Distance: #{group.distance} km
            p <ion-icon name="time"></ion-icon>  Duration: #{group.duration} hour
            p <ion-icon name="people"></ion-icon>  Attendence: 0/#{group.attendence}
            a(href='#') Join Group! 
            a(href='#') More Info
           
// footer  
include includes/footer.pug

// filter page 
article.filters-hidden
  nav
    ul
      li
        button.close-filter Close
      li
        h2 filters
      li
        // Bron: reset te page, stackoverflow: https://stackoverflow.com/questions/29884654/button-that-refreshes-the-page-on-click
        button(onclick="window.location.href=window.location.href") Reset
  
  // filter form (inputs)
  form.form(action="/" method='POST')
    label(for='activity') Activities
    select#activity(name='activity' required="required")
        if(filterDB)
          option(value='#{filterDB.document.activity}' hidden='hidden') #{filterDB.document.activity}
          option all
          option(value='cycling') Cycling
          option(value='walking') Walking
          option(value='jogging') Jogging
          option(value='fishing') Fishing
        else 
          option(value='' hidden='hidden') Select your sport
          option all
          option(value='cycling') Cycling
          option(value='walking') Walking
          option(value='jogging') Jogging
          option(value='fishing') Fishing
    label(for='distance') Travel Distance (max)
    // automatic value change, stackoverflow: https://stackoverflow.com/questions/44675522/get-the-text-value-of-a-select-created-dynamically
    
    if(filterDB)
      input#distance(type='range', name='distance', min='0', max='50', step='10' value='#{filterDB.document.distance}' oninput="this.nextElementSibling.value = this.value")
      output #{filterDB.document.distance}
    else 
      input#distance(type='range', name='distance', min='0', max='50', step='10' value='50' oninput="this.nextElementSibling.value = this.value")
      output 50
    span km
    label(for='attendence') Attendence (max)
    select#attendence(name='attendence' required='required')
        if(filterDB)
          option(value='#{filterDB.document.attendence}' hidden='hidden') #{filterDB.document.attendence}
          option(value='all') all
          option(value=10) 10 people
          option(value=20) 20 people
          option(value=30) 30 people
          option(value=40) 40 or more people
        else 
          option(value='all') all
          option(value=10) 10 people
          option(value=20) 20 people
          option(value=30) 30 people
          option(value=40) 40 or more people
    
    label(for='duration') Duration (max)
    select#duration(name='duration' required='required')
        if(filterDB)
          option(value='#{filterDB.document.duration}' hidden='hidden') #{filterDB.document.duration}
          option(value='all') all
          option(value=1) 1 hour
          option(value=2) 2 hours
          option(value=3) 3 hours
          option(value=4) 4 hours or more
        else 
          option(value='all') all
          option(value=1) 1 hour
          option(value=2) 2 hours
          option(value=3) 3 hours
          option(value=4) 4 hours or more
    input(type='submit' value='FILTER')

script(src='/scripts/app.js')

// all used icons are from: https://ionicons.com/ and are loaden with the script below: 
script(src='https://unpkg.com/ionicons@5.4.0/dist/ionicons.js')
   